<center>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Reserva <%= @reserva.id %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @reserva.cancha_id %></h6>
    <p class="card-text"><%= @reserva.fecha_reserva %> <%= @reserva.horario %></p>
    <p class="card-text"><%= @reserva.estado %></p>
  </div>
</div>

</center>
