<p id="notice"><%= notice %></p>

<h1>User Reservas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reservas.each do |user_reserva| %>
      <tr>
        <td><%= user_reserva.user_id %></td>
        <td><%= user_reserva.reserva_id %></td>
        <td><%= link_to 'Show', user_reserva %></td>
        <td><%= link_to 'Edit', edit_user_reserva_path(user_reserva) %></td>
        <td><%= link_to 'Destroy', user_reserva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Reserva', new_user_reserva_path %>
