
<% nombre = current_user.present? ? current_user.name : 'Anónimo' %>

<!--<% if current_user.present? %>
Selecciona una imagen de perfil:
    <%= form_for :user do |f|%>
        <div class='form-group'>
            <%= f.label :profile_picture%>
            <%= f.file_field :profile_picture%>
            <%= f.submit "Subir foto:", class: 'btn btn-primary' %>
        </div>
    <%end%>

<% end %> 
-->
<h1 style="text-align: center;">Bienvenido/a, <%= nombre %> </h1>
<p style="text-align: center;"> Página en construcción <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
<path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
</svg></p>
<center>
<img src="https://media.istockphoto.com/vectors/website-construction-line-style-illustration-vector-id931042070?k=20&m=931042070&s=612x612&w=0&h=9gd9Hg79kstwZaImZ-LZmqu5SWPeShWnfZaALijtxzA=" class="img-fluid" alt="...">
</center>
<br style = “line-height:20;”> 
<!-- <p>Find me in app/views/user/index.html.erb</p> -->