
<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Canchas publicadas</h3>
								</div>
						</div>
				</div>
                </div>
                </div>

 
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
		<% @canchas.each do |cancha| %>
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://static.vecteezy.com/system/resources/thumbnails/001/840/684/small/football-field-or-soccer-field-background-green-grass-court-for-create-soccer-game-free-vector.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Cancha de <%= cancha.tipo %></h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2">
                        <% if cancha.resenas.average('puntaje').to_i == 1 %>
                        <div class="ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                        </div>
                        <%elsif cancha.resenas.average('puntaje').to_i == 2 %>
                        <div class="ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <%elsif cancha.resenas.average('puntaje').to_i == 3 %>
                        <div class="ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <%elsif cancha.resenas.average('puntaje').to_i == 4 %>
                        <div class="ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <%elsif cancha.resenas.average('puntaje').to_i == 5 %>
                        <div class="ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        </div>
                        <% else%>
                        <div class="ratings">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        </div>
                        <%end%>
                        </div><span>  (<%= cancha.resenas.where(cancha_id: cancha.id.to_i).length %>) </span>
                    </div>
                    <p class="text-justify text-truncate para mb-0"><%= cancha.descripcion %><br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$<%= cancha.precio %></h4>
                    </div>

            
                    <div class="d-flex flex-column mt-4">
                        <%= link_to cancha, class: "btn btn-primary btn-sm" do %>
                            Detalles
                        <% end %>
					</div>

                    <% if user_signed_in? %>
                        <% if current_user.is_mod %>
                            <div class="d-flex flex-column mt-2">
                                <div class="row justify-content-md-center">
                                    <div class="col-sm text-center">
                                        <%= link_to cancha, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light btn-sm" do %>
                                            Eliminar
                                        <% end %>
                                    </div>
                                    <div class="col-sm text-center">
                                        <%= link_to edit_cancha_path(cancha), class: "btn btn-light btn-sm" do %>
                                            Editar
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                    
                </div>
            </div>
			<% end %>
        </div>
    </div>
</div>

<% if user_signed_in? %>
<% if current_user.is_mod %>
    <div class="d-flex flex-column mt-4">
    <%= link_to new_cancha_path, class: "btn btn-primary btn-sm" do %>
        Crear cancha
    <% end %>
    </div>
<%end%>
<%end%>
